* {
    box-sizing: border-box;
    /* background-color: #fef6fa; */
}
  
h1, h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: hotpink;
  text-align: center;
  width: 100%;
}

h1 {
  padding-bottom: 10px ;
}

p {
  font-size: clamp(16px, 2vw, 18px); 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* #nav {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 154, 205);
  display: flex;
  justify-content: center;
}

#nav li {
  
  margin: 0 10px;
}
#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

#nav a:hover {
  background-color: white;
  color: rgb(255, 154, 205);
} 

main {
  margin: 0;
  height: 100vh;
  background-color: #fef6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
 */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

/* header {
  background-color: rgb(255, 154, 205);
  padding: 10px 0;
} */

#nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 154, 205);
}

#nav li {
  margin: 0 10px;
}

#nav li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

#nav li a:hover {
  background-color: white;
  color: rgb(255, 154, 205);
}

main {
  flex-grow: 1;
  /* background: #f3f4f6; */
  background-color: #fef6fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

  

/* From Uiverse.io by micaelgomestavares */ 
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 450px;
    background-color: #fff;
    border: 2px solid rgb(255, 154, 205);
    padding: 20px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 4px 8px rgba(255, 154, 205, 0.3);
  }
  
  .title {
    font-size: 28px;
    color: hotpink;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: hotpink;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: hotpink;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: hotpink;
  }
  
  .signin a:hover {
    text-decoration: underline hotpink;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: hotpink;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: hotpink;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: hotpink;
    cursor: pointer;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }